<h1>Houses#index</h1>
<p>Find me in app/views/houses/index.html.erb</p>
<% if @houses.empty? %>
    <p>There are no houses</p>
<% else %>
    <% @houses.each do |house| %>
        <h2><%= house.name %></h2>
        <p>There are <%= house.students.count %> students in this house</p>
        <p>The students of this house have accumulated <%= house.points %> points</p>
        <p>Learn more about <%= house.name %></p>
    <% end %>
<% end %>
<p>Thank to <a href = "https://github.com/faker-ruby/faker">Faker</a> for the data to populate this site</p>